@import '~src/scss/placeholders';
@import '~src/scss/global';
@import '~src/scss/colors';
@import '~src/scss/variables';

.reset-container {
  min-height: 100vh;
  @extend .bg-blue;
  @extend .perfect-center;
}

.reset-div {
  width: 380px;
  min-height: 250px;
  @extend .b-rad5;
}

.key-icon {
  display: block;
  margin: 0 auto;
  width: 70px;
}



@media only screen and (max-width: 576px) {
  .reset-div {
    width: 90% !important;
  }
}
