<div class="container-fluid forgot-container">

  <div class="forgot-div bg-white mt-4 p-4">
    <p class="text-center f20 font-weight-bold">Forgot your password?</p>
    <p class="text-center">Enter your register email, we will send you an email to reset your password</p>

    <img src="../../../assets/images/forgot_icon.svg" class="forgot-icon" alt="">

    <form class="mt-4">
      <div class="form-group">
        <input type="text" class="form-control" id="Email" placeholder="Email" autocomplete='off'>
      </div>

      <button type="button" class="btn btn-block bg-orange white">Submit</button>

      <a routerLink="/login" class="text-center mt-4 d-block blue c-pointer">Sign in</a>
    </form>

  </div>

</div>
