<div class="container-fluid login-container">

  <p class="white f16">administrator</p>
  <p class="white f28">Welcome to Contraly</p>
  <p class="white f13 mb-0 opacity-6">The best media cloud service</p>
  <p class="white f13 mb-0 opacity-6">platform for movie makers</p>

  <div class="sign-in-div bg-white mt-4 p-4">
    <p class="text-center">Login to your account</p>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="username" autocomplete='off'>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="password">
      </div>
      <div class="d-flex justify-content-between flex-row align-items-center mt-4">
        <button type="button" routerLink="/sign-up" class="btn bg-white blue login-btn">Sign Up</button>
        <button routerLink="/project-list" type="button" class="btn bg-orange white signup-btn">Sign In</button>
      </div>

      <a routerLink="/forgot-password" class="text-center mt-4 d-block blue c-pointer">Forgot your password?</a>
    </form>

  </div>

</div>
