
//  ------------------------------------------------------ font sizes ----------------

.f12 {
  font-size: 12px !important;
}
.f13 {
  font-size: 13px !important;
}
.f14 {
  font-size: 14px !important;
}
.f15 {
  font-size: 15px !important;
}
.f16 {
  font-size: 16px !important;
}
.f18 {
  font-size: 18px !important;
}
.f20 {
  font-size: 20px !important;
}
.f21 {
  font-size: 21px !important;
}
.f22 {
  font-size: 22px !important;
}
.f24 {
  font-size: 24px !important;
}
.f26 {
  font-size: 26px !important;
}
.f28 {
  font-size: 28px !important;
}
.f30 {
  font-size: 30px !important;
}
.f40 {
  font-size: 40px !important;
}
.f60 {
  font-size: 60px !important;
}

.f100 {
  font-size: 100px !important;
}

//  --------------------------------------------------- padding classes  ----------------

.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt40 {
  padding-top: 40px !important;
}

.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr40 {
  padding-right: 40px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}

.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl40 {
  padding-left: 40px !important;
}

.p5 {
  padding: 5px !important;
}

.px5 {
  padding: 0px 5px !important;
}

.py5 {
  padding: 5px 0px !important;
}

.p10 {
  padding: 10px !important;
}

.px10 {
  padding: 0px 10px !important;
}

.py10 {
  padding: 10px 0px !important;
}

.p15 {
  padding: 15px !important;
}

.px15 {
  padding: 0px 15px !important;
}

.py15 {
  padding: 15px 0px !important;
}

.p20 {
  padding: 20px !important;
}

.px20 {
  padding: 0px 20px !important;
}

.py20 {
  padding: 20px 0px !important;
}

.p25 {
  padding: 25px !important;
}

.px25 {
  padding: 0px 25px !important;
}

.py25 {
  padding: 25px 0px !important;
}

.p30 {
  padding: 30px !important;
}

.px30 {
  padding: 0px 30px !important;
}

.py30 {
  padding: 30px 0px !important;
}

.p40 {
  padding: 40px !important;
}

.px40 {
  padding: 0px 40px !important;
}

.py40 {
  padding: 40px 0px !important;
}

//  ------------------------------------------------------ margin classes  ----------------
.mt0 {
  margin-top: 0px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}

.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}

.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml70 {
  margin-left: 70px !important;
}

//  ------------------------------------------------------ utils classes  ----------------

.c-pointer {
  cursor: pointer !important;
}

.perfect-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}

.b-rad4 {
  border-radius: 4px !important;
}

.b-rad5 {
  border-radius: 5px !important;
}

.b-rad6 {
  border-radius: 6px !important;
}

.b-rad-circle {
  border-radius: 50% !important;
}

.opacity-6 {
  opacity: 0.6;
}
