<table class="table project-table">
  <thead>
    <tr>
      <th>Folder name</th>
      <th>Date modified</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr data-toggle="collapse" data-target="#demo">
      <td> <img class="folder-icon" src="../../../../assets/images/folder.svg" alt=""> Pre prod</td>
      <td>12-12-2019</td>
      <td>234.34 KB</td>
    </tr>
    <tr id="demo" class="collapse">
      <td colspan="3">slkjfdh</td>
    </tr>
    <tr>
      <td><img class="folder-icon" src="../../../../assets/images/folder.svg" alt=""> Music</td>
      <td>01-03-2019</td>
      <td>432.44 MB</td>
    </tr>
    <tr>
      <td> <img class="folder-icon" src="../../../../assets/images/folder.svg" alt=""> Videos</td>
      <td>03-12-2019</td>
      <td>444.33 MB</td>
    </tr>
  </tbody>
</table>
