<div class="w-100 bg-blue project-list-header d-flex align-items-center">
  <div class="container d-flex flex-row align-items-center">
    <img class=" project-header-icon mr-3 mt-2" src="../../../assets/images/upload.svg" alt="">
    <div class="projects-title-div">
      <p class="white m-0 f30 header-title">My Projects <img class="edit-icon c-pointer"
          src="../../../assets/images/edit.svg" alt=""> </p>
      <p class="white m-0">An official directory of your projects</p>
    </div>
    <button class="btn bg-white blue ml-5"> <img class="add-icon" src="./../../../assets/images/add.svg" alt=""> Add
      New</button>
  </div>
</div>


<div class="w-100 pt-4 project-list-div">
  <div class="container">
    <div class="bg-white p-3 project-list-container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <app-projects-table></app-projects-table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>
